{% extends 'base.html' %}
{% block title %}Covid19 Tracker{% endblock title %}

{% block active %} active{% endblock active %}

{% block content %}
<div class="col-md-8 p-4 text-white">  
  
    <h4 class="fst-italic">Django Forms & Validation</h4>
<p>
    Forms are basically used for taking input from the user in some manner and using that information for logical operations on databases. For example, Registering a user by taking input as his name, email, password, etc.
    <br>
    Django maps the fields defined in Django forms into HTML input fields. 
    <br>
    <strong><h5>  Django handles three distinct parts of the work involved in forms:</h5></strong> 
    <p>preparing and restructuring data to make it ready for rendering</p>
    <p>creating HTML forms for the data</p>
    <p>receiving and processing submitted forms and data from the client</p>
</p>  <hr class="bg-light">
    <div>
    <h4 class="text-light">Layout of Django Forms:</h4>
    <ul class="list-group text-dark bg-dark">
        <li class="list-group-item"><a href="{% url 'crispyform-home' %}">django-crispy-forms</a></li>
        <li class="list-group-item"><a href="{% url 'tweakform-home' %}">djago-widget-tweaks</a></li>
      </ul>
    </div>
    <hr class="bg-light">
     
 </div>
{% endblock content %}

